td.leftcol {
	width: 50%;
	text-align: right;
	font-weight: bold;
}

#registration-completion-wrapper {
	width: 80%;
}
.registrationform-table {
	width: 90%;
	margin-left: auto ;
    margin-right: auto ;
}
.registrationform-input {
	width: 25%px;
	text-align: right;
	font-weight: bold;
	padding-right:10px;
}